<div *ngIf="gameBoardVm$ | async as vm">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <app-red-deck></app-red-deck>
      </div>
      <div class="col-6 text-center">
        <app-cards></app-cards>
      </div>
      <div class="col">
        <!-- <h4 class="text-center">Blue Team Cards: {{vm.blueTeamCards.length}}</h4>
        <div class="row justify-content-center">
          <div *ngFor="let card of vm.blueTeamCards" class="col-8 card blue-card">
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="turn-indicator text-center" [ngClass]="vm.whoseTurn === 'red' ? 'red-team-turn' : 'blue-team-turn'">{{vm.whoseTurn | titlecase}} team, it's your turn!</div>
  <!-- <h1 class="text-center">Time Remaining: <span>{{vm.gameTimer}}</span> seconds</h1> -->
</div>


