.turn-indicator {
  width: 25%;
  padding: 16px;
  color: white;
  margin: 0 auto;
  margin-bottom: 24px;
}

.red-team-turn {
  background-color:  #ef473a;
}

.blue-team-turn {
  background-color: #2F80ED;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
