.turn-indicator {
  width: 25%;
  padding: 16px;
  color: white;
  margin: 0 auto;
  margin-bottom: 24px;
}

.red-team-turn {
  background-color: red;
}

.blue-team-turn {
  background-color: blue;
}
