/* You can add global styles to this file, and also import other style files */
body {
  max-height: 100vh;
}



.winner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .winning-text {
    font-size: 128px;
  }
}
